<div class="container">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #formRef="ngForm">
        <div
          id="user-data"
          ngModelGroup="userDataInputs"
          #formuserDataInputsRef="ngModelGroup"
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              [ngModel]="defaulfUsernameValue"
              name="username"
              required
              #formUsernameRef="ngModel"
            />
            <span
              class="help-block"
              *ngIf="formUsernameRef.invalid && formUsernameRef.touched"
            >
              Enter a valid name
            </span>
          </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="onSuggestUserNameClick()"
          >
            Suggest an Username
          </button>
          <button
            class="btn btn-default"
            type="button"
            (click)="setCompeteFormFieldsValues()"
          >
            Set complete form values
          </button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              [ngModel]="defaulfEmailValue"
              name="email"
              required
              email
              #formEmailRef="ngModel"
            />
            <span
              class="help-block"
              *ngIf="formEmailRef.invalid && formEmailRef.touched"
            >
              Enter a valid email
            </span>
          </div>
          <span
            class="help-block"
            *ngIf="
              formuserDataInputsRef.invalid && formuserDataInputsRef.touched
            "
          >
            Invalid User fields
          </span>
        </div>

        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaulfSelectValue"
            name="secret"
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div
          id="color-radio-buttons"
          ngModelGroup="colorRadioButtons"
          #formRadioButtonsRef="ngModelGroup"
        >
          <div class="radio" *ngFor="let color of colorsRadio; index as index">
            <label for="radio-button-{{ color }}">
              <input
                id="radio-button-{{ color }}"
                type="radio"
                name="color"
                [value]="color"
                [(ngModel)]="defaulfColorsRadioChecked"
                required
              />
              {{ color }}</label
            >
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="
            formRef.invalid || formEmailRef.pristine || formUsernameRef.pristine
          "
        >
          Submit
        </button>
      </form>
      <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>UserName= {{ selectedUsernameValue }}</p>
          <p>email= {{ selectedEmailValue }}</p>
          <p>Secret= {{ selectedSecretValue }}</p>
          <p>Color= {{ selectedColorsRadioChecked }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
